.content{
  width: 100%;
  //height: 100%;
  height: 500px;
  display: flex;

  .left{
    padding-top:20px;
    width: 150px;
    //width: 15%;
    border-right: 1px solid #eee;
    //height: 500px;
    //height: 100%;

    padding-left:0px;
    background: rgb(48, 65, 86);
    height: 650px;
    //line-height: 500px;
    color:#fff;
  }

  .right{
    width: 1200px;
    display: flex;
  }


}

//.header{
//  padding-left:250px;
//  background: rgb(48, 65, 86);
//  height: 70px;
//  line-height: 70px;
//  color:#fff;

a{
  text-decoration: none;
  font-size: 20px;
  color:#fff;
  padding: 20px;
  line-height: 50px;
}

a.active{

  color:#cecb48;
}
//}
